input#url{
	width: 60%;
}
button#play{
	width: 20%;
}
div#menu{
	width: 99%;
}
input[type=text]{
	font-size: 1.1em;
	padding: 3px;
	margin: 5px;
}/*
select{
	width: 200px;
}*/
select#playlists{
	float: left;	
	width: 200px;
}
table#playlist{
	float: right;
	margin-bottom: 5px;
	width: 80%;
}
table, th, tr, td{
	border:1px solid gray;
}
tbody tr{
	cursor:pointer;
	cursor:hand;
}

div#time{
	width: 88%;
	margin-bottom: 10px;
	float: left;
}
span#time{
	margin-left: 10px;
}
div#volume{
	float: left;
	width: 20%;
}
div.ui-slider-range.ui-widget-header {
    background: #1484e6 url(css/images/ui-bg_diagonals-thick_22_1484e6_40x40.png) 50% 50%;
}
a.ui-slider-handle.ui-state-default.ui-corner-all{
	width: 4px;
	margin-left: -1px;
}
div#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
	display: none;
}
